doctype html
html
head
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/dropzone/basic.css')
link(rel='stylesheet', href='/stylesheets/dropzone/dropzone.css')

script(type='text/javascript', src='/javascripts/json.js')
script(type='text/javascript', src='/javascripts/dropzone.js')
script(type='text/javascript', src='/javascripts/jquery-1.7.1.js')

script(type='text/javascript').
	$(window.document).ready(function() {
		//$("#demo-upload").dropzone({ url: "/createFile" });
		Dropzone.options.myDropzone = {
			autoProcessQueue : false,
			maxFiles: 1,
			init : function() {
				$("#btn-uploadFiles").bind("click", function() {
					myDropzone.processQueue();
				});

				this.on("success", function(obj) {
					//alert("queuecomplete");
					console.log(obj);
					opener.location='/';
				});

				this.on("queuecomplete", function(obj) {
					setTimeout( "location.reload()", 1*1000 );
				});

				this.on("addedfile", function(obj) {
					$(".dz-message").hide();
				});

				this.on("removedfile", function(obj) {
					$(".dz-message").show();
				});
			}
		};

		var myDropzone = new Dropzone("#frm-upload", Dropzone.options.myDropzone);
	});

	function deleteConfirm(nm, id, ve) {
		if(!confirm(nm + "을(를) 삭제하시겠습니까?")){
			return;
		};
		location.href = "/removeFile?fileId="+id+"&version="+ve;
	}

	var openF = 0;
	function winOpen(fileName, intWidth, intHeight, intLeft, intTop, vScrollbars, vResizable, vStatus, target, multiWinPop) {
		//ie 9~11 bug fix
		if(window.navigator.userAgent.indexOf("Trident")> -1){
			if(parseInt(navigator.userAgent.match(/Trident\/(\d.\d)/i)[1]) > 4){
				return;
			}
		}

		var today = new Date();
	    winName = target;

	    //var fileName, intWidth, intHeight;
	    var screenWidth = screen.availWidth;
	    var screenHeight = screen.availHeight;

	    if(intWidth >= screenWidth){ //스크린 상테에 따라 스크롤바 자동표시
	            intWidth = screenWidth - 40;
	            vScrollbars = 1;
	    }

	    if(intHeight >= screenHeight){ //스크린 상테에 따라 스크롤바 자동표시
	        intHeight = screenHeight - 40;
	        intWidth = intWidth + 20;
	        vScrollbars = 1;
	    }

	    if(null==intLeft || null==intTop){ //스크린 중앙에 위치 시키기
	        intLeft = (screenWidth - intWidth) / 2;
	        intTop = (screenHeight - intHeight) / 2;
	    }

		alert(fileName.indexOf('http'));
	    var features = eval("'width=" + intWidth + ",height=" + intHeight + ",left=" + intLeft + ",top=" + intTop + ",scrollbars=" + vScrollbars + ",resizable=" + vResizable + ",status=" + vStatus + "'");
	    /**
	    if(fileName.indexOf('http')>=-1){
	    	fileName = '';
	    }else{
	    	fileName = ROOT_CONTEXT + fileName;
	    }
	    */

	    if(!multiWinPop){
	    	if(openF == 1){
	    		if(winname_1.closed){
	    			winname_1 = window.open(fileName,winName,features);
	    		}else{
	    			winname_1.close();
	    			winname_1 = window.open(fileName,winName,features);
	    		}
	    	}else{
	    		winname_1 = window.open(fileName, winName, features);
	    		openF = 1;
	    	}
	    } else{
	    	winname_1 = window.open(fileName,winName,features);
	    }

	    winname_1.focus();
	}

- var convertFileSize = function(fileSize) {
-	var kb = 1024;		// 1Kbyte
-	var mb = kb * 1024;	// 1Mbyte
-	var gb = mb * 1024;	// 1Gbyte
-	var tb = gb * 1024;	// 1Tbyte
-	var fileSz = parseInt(fileSize);
-	if (mb > fileSz) {
-		return (fileSize / kb).toFixed(2) + ' KB';
-	} else if (mb <= fileSz && gb > fileSz) {
-		return (fileSize / mb).toFixed(2) + ' MB';
-	} else if (gb <= fileSz && tb > fileSz) {
-		return (fileSize / gb).toFixed(2) + ' GB';
-	} else if (tb <= fileSz) {
-		return (fileSize / tb).toFixed(2) + ' TB';
-	}
-}
body
	div.container1
		div.page-header
			h1="File Version List"
			h2="(Group ID:"+files[0].groupId+")"

			div(style='height:30px')
				button#btn-uploadFiles.btn.btn-primary.btn-lg(style="float:right") Version up

			div#uploadArea
				form#frm-upload.dropzone.dz-clickable(style="min-height: 251px" action="/versionUpFile?groupId="+files[0].groupId)
					div.dz-message
						span
							h3="버전업할 파일을 드래그하거나 클릭하여 선택해주세요."
							br
							h3="하나의 파일만 선택가능합니다."

		table.table.table-bordered.table-striped(style="margin: auto;  margin-bottom: 28px;")
			col(width="1%")
			col(width="")
			col(width="12%")
			col(width="20%")
			thead(style="background-color: #C0C0C0")
				tr
					th version
					th file명
					th size
					th 등록일자
				tbody#grid
					each file in files
						tr
							td= file.version
							td
								a(href="/downloadFile?fileId="+file._id)= file.name
							td #{convertFileSize(file.size)}
							td= moment(file.regDd).format("YYYY/MM/DD HH:mm:ss")
